<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings"
				type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework"
				type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				requirePermission="false"/>
	</configSections>
	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DefaultAppSkin" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DefaultPalette" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CompactUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchScaleFactor" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DirectX" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="RegisterUserSkins" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="FontBehavior" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DefaultAppFont" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CustomPaletteCollection" serializeAs="Xml">
				<value/>
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<connectionStrings>
		<add name="BeerDriveContext" connectionString="HFj8c/1mrSyEYTbhFGZ0i24d3vnh1y2PO6yWGBSxLEAsX81FVJ2e6bJTy6ha/5i2QSUzgfciGEvnDYRqyVwr/o9s4j4a7FATKt2bnx+d0lzExkqlR66L/vaHxUgy4jY8uPTbfSadw9AetA7An49o1SbKW3qLElVEY7NQnK+jXVdctqWoA8jOmc8kYmhxGW6k58DpQeUW9rB3a16oJKA5Qsjm+7Jk6G1+UHfmPiNklyOURep2N0fmQ02poUBqcgGXW9pAaK+q5tFSeD6WMt5Yp5A0iqaM4lJICIMJoTuVXuVh0uYquJw4MlwGanrxR+q7+vI6E525f4r11Qnxe8xp1w==" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<appSettings>
		<!--<add key="EmailFrom" value="ga.gogolauri@gmail.com" />
		<add key="Password" value="acek dezi svht zkeq" />
		<add key="EmailTo" value="maikomixelidze@gmail.com" />-->
		
		<add key="EmailFrom" value="Beer.drive2023@gmail.com" />
		<!--<add key="Password" value="fibj iguy onxn lpdv" />-->
		<add key="Password" value="tkK4lQWBWBCoIwUrLgBN9RlhjYZ3JHVB/6Lqf8qi4X1UzY+9Vzvgi0KkbTbcaJKOIDuA3xLBl3l9o61CfigFmmZzX1nq3RYm3D6vbbM5qwPg9xEZte6rPAIgjjHkUpuf" />
		<add key="EmailTo" value="ga.gogolauri@gmail.com" />
		
		<add key="Days" value="3" />
	</appSettings>
</configuration>