<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<!--<connectionStrings>
		<add name="BeerDriveContext" connectionString="data source=DESKTOP-IV4B0HR;initial catalog=BeerDrive;persist security info=True;user id=sa;password=@1qaz2wsx3edc@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>-->
</configuration>